body {
  font-family: Arial, sans-serif;
  background-color: rgb(165, 214, 253);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgb(52, 86, 180);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
}

div {
  background-color: rgb(112, 183, 230);
  padding: 1em;
  text-align: center;
}

div button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div a {
  background-color: rgb(255, 255, 255);
  margin: 0 1em;
  text-decoration: none;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0%;
}

#menu-bar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: purple;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: #000000;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a:hover {
  background: rgb(141, 177, 224);
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}
img {
  width: 900px;
  float: center;
 }
